# --- Block semua folder node_modules di mana saja ---
node_modules/
**/node_modules/

# --- Block file environment ---
.env
**/.env

# --- Block folder build ---
build/
**/build/
dist/
**/dist/

# --- Lainnya ---
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*