# Dependencies (Sampah library yang berat)
node_modules/

# Environment variables (RAHASIA! Jangan diupload)
.env

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads (Foto bukti absensi jangan menuhin GitHub)
uploads/
!uploads/.gitkeep